[submodule "config-awesome"]
	path = config/awesome
	url = https://github.com/awailly/awesome.git
[submodule "vim-pathogen"]
	path = vim/autoload/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
